@font-face {
    font-family: 'Sovereign';
    src: url('Sovereign.woff2') format('woff2'),
        url('Sovereign.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}